<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Calling</display-name>
  <servlet>
	<servlet-name>
		first_page
	</servlet-name>
	<servlet-class>
		com.calling.Taking_Number
  </servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>
		first_page
	</servlet-name>
	<url-pattern>
		/takingNumber
	</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>
		second_page
	</servlet-name>
	<servlet-class>
		com.calling.Square
	</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>
		second_page
	</servlet-name>
	<url-pattern>
		/Sq
	</url-pattern>
  </servlet-mapping>
</web-app>